<div id="header" class="container-fluid">
	<div class="container">
		<h1>Лабораторные работы по ИВТ</h1>
	</div>	
</div>
<div id="wrapper" class="container-fluid">
	
	<div id="Input" class="container">
		<div class="row">
			<div id="regular-minus" class="regular col-xs-1">
				<i class="fa fa-minus-circle fa-3x"></i>
			</div>
			<div id="tableId" class="col-xs-10">														
				<table>
					<tr>
						<td>№</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>X</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Y</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>								
				</table>
			</div>
			<div id="regular-plus" class="regular col-xs-1">
				<i class="fa fa-plus-circle fa-3x"></i>
			</div>
		</div>
	</div>
	<div id="btn-wrapper" class="container">
		<p id="start" class="btn btn-primary"> Расчитать </p>
	</div>
	<p class="line container"></p>
	<div id="placeholder-wrapper" class="container">
		<div id="placeholder"></div>
		<div id="output">
			<h3>|r<sub><small>xy</small></sub>|=  </h3><input id="output-r" readonly disabled type= "text">
		</div>
		<p class="line container"></p>
	</div>
</div>
